<?xml version="1.0"?>
<configuration>
  <configSections>
  <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="VNSCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="newCIS2008.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings/>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<applicationSettings>
        <VNSCore.Properties.Settings>
                <setting name="Core_AWS_AdminWS" serializeAs="String">
                        <value>http://localhost:1695/AdminWS.asmx</value>
                </setting>
        </VNSCore.Properties.Settings>
        <newCIS2008.Properties.Settings>
            <setting name="Core_AWS_AdminWS" serializeAs="String">
                <value>http://localhost:1695/AdminWS.asmx</value>
            </setting>
        </newCIS2008.Properties.Settings>
    </applicationSettings>
<SubSonicService defaultProvider="ORM">
    <providers>
      <clear/>
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="VNS.HIS.DAL"/>
    </providers>
  </SubSonicService>
</configuration>