<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HLCServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <NetFx40_LegacySecurityPolicy enabled="true"/>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <HLCServices.Properties.Settings>
      <setting name="HLCServices_AWS_LoginWS" serializeAs="String">
        <value>http://localhost:1695/AdminWS.asmx</value>
      </setting>
    </HLCServices.Properties.Settings>
  </applicationSettings>
</configuration>
